<style type='text/css'>
  h1, h2 {
    color: pink;
    font-family: monospace;
    text-align: center;

  }
  .game_panel {
    float: left;
    width: 50%;
  }
</style>
<div class='container'>
  <header>
    <h1>
      Player one is called <%= @player_1_name %>. Player two is called <%= @player_2_name %>.
    </h1>
  </header>

  <main>
    <div class='game_panel' id='player_1'>
      <h2><%= @player_1_name %></h2>

    <div class="stats">
      <p class="hit_points">Player one hit points: <%= @player_1_hit_points %></p>
      <form action='/attack-player-2' method='post'>
        <input type='submit' id='attack-player-2' value='attack'>
      </form>
    </div>
  </div>

  <div class='game_panel' id='player_2'>
    <h2><%= @player_2_name %></h2>

  <div class="stats">
    <p class="hit_points">Player two hit points: <%= @player_2_hit_points %></p>
    <form action="/attack-player-1" method='post'>
      <input type='submit' id='attack-player-1' value='attack'>
    </form>
  </div>
</div>

  </main>
</div>
